@font-face {
  font-family: "iconfont"; /* Project id 3836484 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3836484_bwlcllwted6.woff2?t=1671710714984') format('woff2'),
       url('//at.alicdn.com/t/c/font_3836484_bwlcllwted6.woff?t=1671710714984') format('woff'),
       url('//at.alicdn.com/t/c/font_3836484_bwlcllwted6.ttf?t=1671710714984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 17px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e668";
}

.icon-youxiang:before {
  content: "\e672";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-logo_github:before {
  content: "\e8ec";
}

.icon-QQ:before {
  content: "\fae0";
}

.icon-niunai:before {
  content: "\e60d";
}

.icon-milk:before {
  content: "\e674";
}

.icon-kafei:before {
  content: "\e657";
}

.icon-archiver:before {
  content: "\e67a";
}

.icon-home:before {
  content: "\e6f7";
}

.icon-tag:before {
  content: "\e920";
}

.icon-love-sign:before {
  content: "\e921";
}

.icon-valentine_-search-love-find-heart:before {
  content: "\e760";
}

.icon-search:before {
  content: "\e6ca";
}

.icon-zhifengche:before {
  content: "\ec31";
}

.icon-paperplane:before {
  content: "\e71d";
}

.icon-zhaopian:before {
  content: "\e8ae";
}

.icon-fenlei:before {
  content: "\e68d";
}
